


nav ul{
    list-style: none;
    display: flex;
    justify-content: center;
    
}

nav li{
    margin: 0 20px;
}

nav a{
    text-decoration: none;
    color: #fff;
}
h1{
    font-size:40px;
    background-color:cadetblue;
   
}
h3{
    background-color:cadetblue;
    text-align: center;
}
header{
    background-color:cadetblue;
    color: #fff;
    padding: 10px 0;
}
.center{
    text-align: center;
}
.coolTitle{
    
    /* font-size: 400; */
    border-radius:40px;
    font-family:Georgia, Times, 'Times New Roman', serif;
    color: white;
    display:inline-block;
    padding: 10px;
    text-align: center;
    border: black 2px solid;
    background-color:cadetblue;
    margin: 2px;
   
}
.coolTitle2{
    
    /* font-size: 400; */

    font-family:Georgia, Times, 'Times New Roman', serif;
    color: black;
    display:inline-block;
    padding: 10px;
    text-align: center;
    background-color:rgb(135, 202, 250);
    margin: 2px;
   
}
.coolTitle3{
    border-radius:40px;
    font-family:Georgia, Times, 'Times New Roman', serif;
    color: black;
    display:inline-block;
    padding: 10px;
    text-align: center;
    border: black 2px solid;
    background-color:lightgray;
    margin: 100px;
}
.imagechanger{
    
    border: black 5px solid;
    width: 380px;
    height:380px; 
    text-align: center;
    object-position: center;
}
.recipe{
    width: 100%;

}